
@{
    ViewBag.Title = "Contact";
    //IF there is no set session, create an unregistered user to hold a temporary cart for this session
    if (Session["usertype"] == null)
    {
        HttpContext.Current.Session["user"] = "unregistered";

        HttpContext.Current.Session["usertype"] = MvcWarehouse.User.ShopUser.UserType.Visitor;
    }
}

<h2>Contact</h2>


<div class="divider"></div>
<adress><p>Warehouse 2</p></adress>
<adress><p>999 99 Ware Street 99</p></adress>
<adress><p>City</p></adress>
<adress><p>Tel: 022-9901922</p></adress>
